<div style="background-color: rgb(33, 33, 68);margin-top: -30px;padding-bottom: 60px;">
    <div class="container">
        <h2 class="text-center mt-5 mb-4" style="color: white;font-weight: 370;padding-top: 70px;font-size: 40px;">Pricing</h2>
        <p class="text-center" style="color: white;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil quis cumque officiis modi in dignissimos consequatur facilis, minima dolor impedit iure corrupti repudiandae eius nostrum a sequi, quisquam veritatis eum!</p>
        <div class="row pricing-table">
            <div class="col-md-4 mb-4">
                <div class="card text-center">
                    <div >
                        <h3>Free</h3>
                        <p>Organize across all apps by hand</p>
                    </div>
                    <div class="card-body">
                        <div class="pricing">
                            <h4 class="price">0</h4>
                            <div class="price-details">
                                <span class="currency">$</span>
                                <span class="duration">Per Month</span>
                            </div>
                        </div>
                        <ol class="feature-list">
                            <li>Pricing Feature</li>
                            <li>Pricing Feature</li>
                            <li>Pricing Feature</li>
                            <li>Pricing Feature</li>
                            <li>Pricing Feature</li>
                        </ol>
                        <a href="#" class="btn btn-primary">Order now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card text-center middle-card"> 
                    <div >
                        <h3>Standard</h3>
                        <p style="color: white;">Organize across all apps by hand</p>
                    </div>
                    <div class="card-body">
                        <div class="pricing">
                            <h4 class="price">10</h4>
                            <div class="price-details">
                                <span class="currency">$</span>
                                <span class="duration">Per Month</span>
                            </div>
                        </div>
                        <ol class="feature-list">
                            <li>Pricing Feature</li>
                            <li>Pricing Feature</li>
                            <li>Pricing Feature</li>
                            <li>Pricing Feature</li>
                            <li>Pricing Feature</li>
                        </ol>
                        <a href="#" class="btn btn-primary">Order now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card text-center">
                    <div >
                        <h3>Business</h3>
                        <p>Organize across all apps by hand</p>
                    </div>
                    <div class="card-body">
                        <div class="pricing">
                            <h4 class="price">9</h4>
                            <div class="price-details">
                                <span class="currency">$</span>
                                <span class="duration">Per Month</span>
                            </div>
                        </div>
                        <ol class="feature-list">
                            <li>Pricing Feature</li>
                            <li>Pricing Feature</li>
                            <li>Pricing Feature</li>
                            <li>Pricing Feature</li>
                            <li>Pricing Feature</li>
                        </ol>
                        <a href="#" class="btn btn-primary">Order now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>